.primary_btn{
    min-width: 220px;
    padding: 10px 18px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Outline_btn{
    padding: 10px 18px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 472px;
}